<html>
<head>
	<title>intelijenceMail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="description" content="Welcome to intelijenceMail a smart and portable email manager, assistant management system"/>

	<meta name="keywords" content="AI email, email automation, email apps, email clients support, email API, Smart email application, Email management apps, Smart API for email" />

	<link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>
<body >
	<div class="main" align="center">
		<!-- create form box-->
		<div class="form-box" align="center">
			<!-- create header bar-->
			<div class="headBar"  >
				<div class="headContnt">
					<img src="static/icons/icon.fw.png">
				</div>	
			</div>		
			<!-- end header bar-->
			<div class="form" align="center">
				<h2>Create an account to get an Auth code</h2>
				<form class="formCnt" action="/activate" method="post">
					<span>App/Website Name :</span>
					<input type="text" name="appName" placeholder="Your app's name here"/>	

					<span>Why Do you need our Emayl api :</span>
					<textarea class='desc' name="Desc" placeholder="Description"></textarea>
					<input type="submit" name="clicked" value="Create Account">
				</form>				
			</div>
		</div>
	</div>
</body>
</html>